---
---

<nav aria-labelledby="site-navigation">
	<button type="button" aria-label="Show the table of contents"></button>
</nav>

<style lang="sass">
	nav
		position: fixed
		top: 1.5rem
		z-index: 10

		width: 100%
</style>
